@font-face {
    font-family: "MyriadProCond";
    src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProCond";
    src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot");
    src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondBold/MyriadProCondBold.woff") format("woff"),
    url("../fonts/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadProCond";
    src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot");
    src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondItalic/MyriadProCondItalic.woff") format("woff"),
    url("../fonts/MyriadProCondItalic/MyriadProCondItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProCond";
    src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot");
    src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
html {
	height: 100%;
}
body {
	font-family: 'MyriadProCond',"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #e9eff5;
	color: #000;
	height: 100%;
}
.wrapper {
	min-height: 100%;
	padding-bottom: 208px;
}

.region-header {
	background: url(../img/region-header.png) repeat-x scroll top transparent;
	height: 88px;
}
.region-header .logo {
	padding-top: 24px;
}
.bk-about-1 {
	padding-top: 10px;
}
.bk-about-1 .content {
	color:#697d9c;
	font-size: 16px;
	text-align: right;
}
.bk-about-1 .content .marked {
	font-weight: bold;
	color:#fff;
}
.bk-phones-1 {
	padding-top: 10px;
}
.bk-phones-1 .content {
	text-align: right;
}
.bk-phones-1 .content .phones {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
}
.bk-phones-1 .content .phones:before {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	background: url(../img/ico-phone.png) no-repeat scroll 0 0 transparent;
	content: " ";
	margin-right: 15px;
	position: relative;
	top: -2px;
}
.bk-phones-1 .content .btn-call {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background-color: #28356d;
	border-color: #28356d;
	border-radius: 15px;
	padding: 4px 30px; 
	text-transform: uppercase;
	outline: none;
	box-shadow: none !important;
}
.bk-phones-1 .content .btn-call:active,
.bk-phones-1 .content .btn-call:hover {
	background-color: #26379C;
}

.region-navbar {
	background-color: #101742;
	position: relative;
	-webkit-box-shadow: inset 0 -3px 0 0 #009cde;
	box-shadow: inset 0 -3px 0 0 #009cde;
}
.region-navbar  {

}
.region-navbar .navbar-toggle .icon-bar{
	background-color: #fff;
}
.region-navbar .navbar-main>li>a {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
}
.region-navbar .navbar-main .open>a, 
.region-navbar .navbar-main .open>a:focus, 
.region-navbar .navbar-main .open>a:hover,
.region-navbar .navbar-main>li>a:focus, 
.region-navbar .navbar-main>li>a:hover {
	background-color: #009cde;
}
.region-navbar .navbar-lang>li + li {
	margin-left: 1px;
}
.region-navbar .navbar-lang>li + li:before {
	display:block;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: -1px;
	background-color: #697d9c;
	width: 1px;
	height: 18px;
	content: " ";
}
.region-navbar .navbar-lang>li {
	float: left;
}
.region-navbar .navbar-lang>li>a {
	color:#697d9c;
}
.region-navbar .navbar-lang>li>a:focus, 
.region-navbar .navbar-lang>li>a:hover {
	color:#fff;
	background-color: transparent;
}
.region-navbar .dropdown-menu {
	background-color: #101742;
	border: none;
	border-radius: 0;
	padding: 10px 0;
}
.region-navbar .dropdown-menu>li + li {
	border-top: 1px solid #17205a;	
}
.region-navbar .dropdown-menu>li>a {
	font-size: 16px;
	padding: 8px 30px;
	font-weight: normal;
	color: #697d9c;	
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-color: #009cde;
	color:#fff;
}
@media (min-width: 768px){
	.region-navbar .navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}
@media (min-width: 992px){
	.region-navbar .navbar-main {
		padding-left: 20%;
	}
}
.bk-popular-materials-1 {
	margin: 30px 0;
}
.bk-popular-materials-1 .header {
	text-align: center;
	overflow: hidden;
	margin-bottom: 42px;
}
.bk-popular-materials-1 .header .title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color:#101742;
	position: relative;
}
.bk-popular-materials-1 .header .title:before,
.bk-popular-materials-1 .header .title:after {
	content: "";
	position: absolute;
	border-top: 1px solid #ddd;
	top: 50%;
	width: 600px;
}
.bk-popular-materials-1 .header .title:before {
	right: 100%;
  	margin-right: 30px;
}
.bk-popular-materials-1 .header .title:after {
 	left: 100%;
  	margin-left: 30px;
}

.bk-popular-materials-1 .items {
	text-align: center;
}
.bk-popular-materials-1 .item{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	width: 226px;
	background-color: #f4f4f4;
}
.bk-popular-materials-1 .item-img-wrap {
	margin-bottom: 20px;
}
.bk-popular-materials-1 .item-img-wrap a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.bk-popular-materials-1 .item-img-wrap a:after {
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../img/ico-zoom.png) no-repeat scroll center #000;
	content: " ";
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.bk-popular-materials-1 .item-img-wrap a:hover:after {
	opacity: 0.8;
}

.bk-popular-materials-1 .item-img-wrap .img {
	display: block;
	max-width: 100%;
	height: auto;
}
.bk-popular-materials-1 .item-title {
	margin-bottom: 20px;
	padding: 0 20px;
	font-size: 22px;
	color:#242f57;
	text-align: left;
	text-transform: uppercase;
}
.bk-popular-materials-1 .item-more {
	text-align: right;
	padding: 0 10px;
	margin-bottom: 10px;
}
.bk-popular-materials-1 .item-more .more-link {
	color:#009cde;
	text-decoration: underline;
}
.bk-popular-materials-1 .item-more .more-link:hover,
.bk-popular-materials-1 .item-more .more-link:focus {
	text-decoration: none;
}
.bk-text-1  {
	margin: 30px 0;
}
.bk-text-1 .header {
	padding-top: 30px;
	text-align: center;
	margin-bottom: 42px;
}
.bk-text-1 .header .title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #101742;
}
.bk-text-1 .content {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	font-size: 16px;
	color:#000;
}
.bk-text-2 {
	margin: 60px 0 30px;
}
.bk-text-2 .header {
	text-align: center;
	overflow: hidden;
	margin-bottom: 42px;
}
.bk-text-2 .header .title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color:#101742;
	position: relative;
}
.bk-text-2 .header .title:before,
.bk-text-2 .header .title:after {
	content: "";
	position: absolute;
	border-top: 1px solid #ddd;
	top: 50%;
	width: 600px;
}
.bk-text-2 .header .title:before {
	right: 100%;
  	margin-right: 30px;
}
.bk-text-2 .header .title:after {
 	left: 100%;
  	margin-left: 30px;
}
.bk-text-2 .item {
	text-align: center;
	margin-bottom: 30px;
}
.bk-text-2 .item-ico-wrap {
	margin-bottom: 54px;
}
.bk-text-2 .item-ico-wrap .ico {
	display: inline-block;
	vertical-align: middle;
	width: 99px;
	height: 99px;
	background: url(../img/ico-star.png) no-repeat scroll right transparent;
} 
.bk-text-2 .item-ico-wrap .ico:hover {
	background-position: 3px 0;
	cursor: pointer;
}
.bk-text-2 .item-title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color:#101742;
	margin-bottom: 15px;	
}
.bk-text-2 .item-category {
	font-size: 18px;
	color:#000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.bk-text-2 .item-content {
	font-size: 16px;
	color: #000;
} 

.bk-patners-1 {
	margin: 60px 0 30px;
}
.bk-patners-1 .header {
	text-align: center;
	overflow: hidden;
	margin-bottom: 42px;
}
.bk-patners-1 .header .title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color:#101742;
	position: relative;
}
.bk-patners-1 .header .title:before,
.bk-patners-1 .header .title:after {
	content: "";
	position: absolute;
	border-top: 1px solid #ddd;
	top: 50%;
	width: 600px;
}
.bk-patners-1 .header .title:before {
	right: 100%;
  	margin-right: 30px;
}
.bk-patners-1 .header .title:after {
 	left: 100%;
  	margin-left: 30px;
}
.bk-patners-1 .items {
	margin: 0 -15px;
	text-align: center;
}
.bk-patners-1 .items .item {
	display: inline-block;
	width: 226px;
	padding: 0 15px;
	vertical-align: middle;
	margin-bottom: 30px;
}
.region-footer {
	overflow: hidden;
	margin-top: -208px;
	position: relative;
}
.region-footer>.header {
	background-color: #101742;
	min-height: 170px;
	position: relative;
}
.bk-social-1 {
	margin: 20px 0;
	text-align: center;
}
.bk-social-1 .title {
	text-transform: uppercase;
	color:#697d9c;
	font-size: 16px;
	margin-bottom: 10px;
}
.bk-social-1 .content .ico {
	display: inline-block;
	vertical-align: middle;
	background: url(../img/social.png) no-repeat scroll transparent;
	width: 34px;
	height: 33px;
	margin-right: 4px;
}
.bk-social-1 .content .ico-vk {
	background-position: 0 0;
}
.bk-social-1 .content .ico-fb {
	background-position: -41px 0;
}
.bk-social-1 .content .ico-ig {
	background-position: -83px 0;
}
.bk-social-1 .content .ico-ok {
	background-position: -124px 0;
}
.bk-phones-2 {
	margin: 30px 0 20px;
	text-align: center;
}
.bk-phones-2 .title {
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	margin-bottom: 6px;
}
.bk-phones-2 .address {
	font-size: 16px;
	margin-bottom: 10px;
	color:#697d9c;
	margin-bottom: 30px;
}
.bk-phones-2 .phones {
	display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.bk-phones-2 .phones:before {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background: url(../img/ico-phone.png) no-repeat scroll 0 0 transparent;
    content: " ";
    margin-right: 15px;
    position: relative;
    top: -2px;
}
.bk-ask-question-1 {
	text-align: center;
	margin: 0 0 30px;
}
.bk-ask-question-1 .btn-ask-question {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	outline: none;
	border: none;
	background-color: #131b4d;
	padding: 6px 15px;
	
}
.bk-ask-question-1 .btn-ask-question:hover,
.bk-ask-question-1 .btn-ask-question:active {
	background-color: #26379C;	
}
@media (min-width: 768px){
	.bk-social-1 {
		text-align: left;
	}
	.bk-social-1 .title {
		padding-left: 10px;
	}
	.bk-phones-2 {
		text-align: right;
	}
	.bk-ask-question-1 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.bk-ask-question-1 .btn-ask-question {
		position: relative;
		padding: 0 15px;
		line-height: 50px;
	}
	.bk-ask-question-1 .btn-ask-question:before{
		position: absolute;
		top: 0;
		right: 100%;
		display: block;
		content: " ";
		width: 0;
		height: 0;
		border-top: 50px solid #131b4d; 
		border-left: 20px solid transparent;
	}
	.bk-ask-question-1 .btn-ask-question:before{
		position: absolute;
		top: 0;
		right: 100%;
		width: 0;
		height: 0;
		border-top: 50px solid #131b4d; 
		border-left: 20px solid transparent;
		display: block;
		content: " ";
	}
	.bk-ask-question-1 .btn-ask-question:after {
		position: absolute;
		top: 0;
		left: 100%; 
		width: 0;
		height: 0;
		border-top: 50px solid #131b4d; 
		border-right: 20px solid transparent;
		display: block;
		content: " ";	
	}
	.bk-ask-question-1 .btn-ask-question:active:before,
	.bk-ask-question-1 .btn-ask-question:active:after,
	.bk-ask-question-1 .btn-ask-question:hover:before,
	.bk-ask-question-1 .btn-ask-question:hover:after {
		border-top-color: #26379C;
	}
}
.region-footer > .footer {
	background-color: #131b4d;
	position: relative;
}
.region-footer > .footer > .footer-header {
	min-height: 38px;
}

.region-footer > .footer .copyright {
	line-height: 38px;
	font-size: 14px;
	color:#697d9c;
	text-transform: uppercase;
}
.region-footer > .footer .developer {
	line-height: 38px;
	font-size: 14px;
	color:#697d9c;
	text-transform: uppercase;
	text-align: center;	
}
.region-footer > .footer .gmap {
	width: 100%;
	height: 200px;
}
.region-footer > .footer #map-wrap {
	/*display: none;*/
}
.region-footer > .footer .btn-wrap  {
	position: absolute;
	width: 170px;
	top: 0;
	left: 50%;
	margin-left: -85px;
}
.region-footer > .footer .btn-wrap .btn-toogle-map {
	width: 100%;
	padding: 0 15px;
	line-height: 38px;
	border: none;
	outline: none;
	background-color: #009cde;
	border-radius: 0;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	z-index: 1;
}
.region-footer > .footer .btn-wrap .btn-toogle-map:before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-bottom: 15px solid #009cde;
	content: " ";
}
.region-footer > .footer .btn-wrap .btn-toogle-map:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-left: 85px solid transparent;
	border-right: 85px solid transparent;
	border-top: 15px solid #009cde;
	content: " ";
}


@media(min-width: 768px){
	.region-footer > .footer .gmap {
		height: 300px;
	}
	.region-footer > .footer .developer {
		text-align: right;
	}
}
.breadcrumb {
	background-color: transparent;
	padding: 16px 0;
	margin-bottom: 0;
}
.breadcrumb>li+li:before {
	color: #6a717b
}
.breadcrumb li {
	font-size: 16px;
	color: #6a717b;
}
.breadcrumb li a {
	color: inherit !important;
}
.page-title {
	margin: 16px 0;
	font-size: 22px;
	font-weight: bold;
	color: #101742;
	text-transform: uppercase;
}
@media (min-width: 768px){
	.breadcrumb {
		padding-left: 60px;
	}
	.page-title {
		padding-left: 60px;	
	}
}	
.bk-last-news-1 {
	margin: 0 0 20px;
}
.bk-last-news-1 .item {
	background-color: #fff;
	margin-bottom: 10px;
}
.bk-last-news-1 .item .item-img-wrap img {
	display: block;
	max-width: 100%;
	height: auto;
	border-bottom: 5px solid #009cde;
}
.bk-last-news-1 .item .item-title {
	padding: 16px 20px;
	font-size: 22px;
	font-weight: bold;
	color:#101742;
	text-transform: uppercase;
}
.bk-last-news-1 .item .item-title a {
	color: inherit;
	text-decoration: none;
}
.bk-last-news-1 .item .item-date {
	padding: 15px 20px;
	color:#a0a4a8;
}
.bk-last-news-2 > .header {
	background-color: #dde5ec;
	padding: 10px 15px 6px;
}
.bk-last-news-2 > .header .title {
	font-size: 18px;
	font-weight: bold;
	color:#000;
}
.bk-last-news-2 > .header .title:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";		
	background: url(../img/ico-news.png) no-repeat scroll top transparent;
	width: 28px;
	height: 28px;
	margin-right: 16px;
	position: relative;
	top: -2px;
}
.bk-last-news-2 .item {
	padding: 10px 15px 10px 30px;
}
.bk-last-news-2 .item-content {
	font-size: 17px;
	color:#000;
	margin-bottom: 6px;
}
.bk-last-news-2 .item-more-wrap {
	text-align: right;
	font-size: 16px;
	color:#009cde;
}
.bk-last-news-2 .item-more-wrap a {
	color: inherit;
	text-decoration: underline;	
}
.bk-last-news-2 .item-more-wrap a:hover,
.bk-last-news-2 .item-more-wrap a:focus {
	text-decoration: none;
}
.bk-last-news-2 .pagigination-wrap {
	padding: 6px 15px;
	text-align: center;
	margin: 0;
	background-color: #dde5ec;
	margin-left: 30px;
}
.bk-last-news-2 .pagigination-wrap .pagination {
	margin: 0;
	vertical-align: middle;
}
.bk-last-news-2 .pagination>li>a, 
.bk-last-news-2 .pagination>li>span {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 3px 6px;
	font-size: 16px;
	color:#101742;
}
.bk-last-news-2 .pagination>li>a:focus, 
.bk-last-news-2 .pagination>li>a:hover {
	color: #009cde
}
.bk-services-1 {
	margin: 60px 0;
}

.bk-services-1 > .header  {
	text-align: center;
    overflow: hidden;
    margin-bottom: 42px;
}

.bk-services-1 > .header .title {
	font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #101742;
    position: relative;
}
.bk-services-1 > .header .title:before, 
.bk-services-1 > .header .title:after {
    content: "";
    position: absolute;
    border-top: 1px solid #ddd;
    top: 50%;
    width: 600px;
}
.bk-services-1 > .header .title:before {
    right: 100%;
    margin-right: 30px;
}
.bk-services-1 > .header .title:after{
    left: 100%;
    margin-left: 30px;
}
.bk-services-1 > .content {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto 42px;
	font-size: 17px;
	color:#000; 
}

.bk-services-1 .jcarousel-wrapper {
	margin: 0 auto;
	width: 226px;
	position: relative;
}
.bk-services-1 .jcarousel-wrapper .jcarousel-control-prev,
.bk-services-1 .jcarousel-wrapper .jcarousel-control-next {
	display: block;
	position: absolute;
	top: 0;
	width: 40px;
	height: 100%;
	background: url(../img/jc-controls.png) no-repeat scroll rgba(255,255,255, 0.7);;
	font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0;
}
.bk-services-1 .jcarousel-wrapper .jcarousel-control-prev {
	left: 0;
	background-position: 0 center;
}
.bk-services-1 .jcarousel-wrapper .jcarousel-control-next {
	right: 0;
	background-position: right center;
}

@media(min-width: 768px){
	.bk-services-1 .jcarousel-wrapper {
		width: 682px;
	}
}
@media(min-width: 992px){
	.bk-services-1 .jcarousel-wrapper {
		width: 910px;
	}
}
@media(min-width: 1200px){
	.bk-services-1 .jcarousel-wrapper {
		width: 1138px;
	}
}
.bk-services-1 .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.bk-services-1 .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bk-services-1 .jcarousel li {
    width: 226px;
    float: left;
    margin-right: 2px;
}
.bk-services-1 .jcarousel .img-wrap a {
	position: relative;
    display: inline-block;
    vertical-align: middle;
}
.bk-services-1 .jcarousel .img-wrap a:after {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/ico-zoom.png) no-repeat scroll center #000;
    content: " ";
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.bk-services-1 .jcarousel .img-wrap a:hover:after {
	opacity: 0.8;
}

.bk-services-1 .jcarousel .img-wrap img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
.board {
	position: relative;
	overflow: hidden;
	margin-bottom: 42px;
}
.board img {
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}
.board .board-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	color:#fff;
}
.board .board-box .box-title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.bk-last-news-3 {
	margin-bottom: 20px
}
.bk-last-news-3 > .title{
	color:#101742;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.bk-last-news-3 > .content {
	font-size: 17px;
	text-align: justify;
} 
.bk-about-us-1 {
	width: 100%;
	max-width: 1020px;
	margin: 60px auto;
}
.bk-about-us-1 > .title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color:#101742;
	margin-bottom: 42px;
}
.bk-about-us-1 > .content {
	font-size: 17px;
	color:#000;
	margin-bottom: 60px;
}
.bk-about-us-1 > .items {
	text-align: center;
}
.bk-about-us-1 > .items .item {
	padding: 10px;
	margin: 0 15px 20px;
	display: inline-block;
	vertical-align: top;
	height: 154px;
	width: 154px;
	border: 6px solid #e9eff5;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 1px #131b4d, 0 0 0 3px #131b4d;
	box-shadow: inset 0 0 0 1px #131b4d, 0 0 0 3px #131b4d;
	color:#131b4d;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
@media (min-width: 1200px){
	.bk-about-us-1 > .items .item {
		margin: 0 20px 20px;
	}
}
.bk-about-us-1 > .items .item:hover {
	background-color: #131b4d;
	color:#009cde;
}

.bk-about-us-1 > .items .item:before{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	content: "";
	margin-right: -0.25em; 
}
.bk-about-us-1 > .items .item-inner {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	width: 100%;
}
.bk-about-us-1 .item-text1 {
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
}
.bk-about-us-1 .item-text2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.bk-box-1 {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #101742;
	border-radius: 16px;
	text-align: center;
	color:#101742;
	margin-bottom: 20px;
}
@media(min-width: 992px){
	.bk-box-1 {
		margin-top: 55px;
	}
}
.bk-box-1 .company-logo {
	margin: 0 0 30px;
}
.bk-box-1 .company-logo img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.bk-box-1 .company-name {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.bk-box-1 .company-address {
	font-size: 22px;
	margin: 0 0 20px;
}
.bk-box-1 .company-phones {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px;
}
.bk-form-feedback-1 {
	width: 100%;
	max-width: 400px;
	margin: 0 auto 20px;
}
.bk-form-feedback-1 > .title {
	background-color: #131b4d;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 6px;
	margin-bottom: 40px;
	position: relative;
}
@media(min-width: 992px){
	.bk-form-feedback-1 > .title:before {
		display: block;
		position: absolute;
		top: 0;
		right: 100%;
		width: 0;
		height: 0;
		border-top: 54px solid #131b4d; 
		border-left: 20px solid transparent;
		content: " ";
	}
	.bk-form-feedback-1 > .title:after {
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		width: 0;
		height: 0;
		border-top: 54px solid #131b4d; 
		border-right: 20px solid transparent;	
		content: " ";
	}
}
.bk-form-feedback-1 > .content input[type="text"] {
	width: 100%;
	outline: none;
	color:#fff;
	background-color: #101742;
	border: 1px solid #101742;
	border-radius: 14px;
	font-size: 16px;
	padding: 2px 12px;
}
.bk-form-feedback-1 > .content input[type="submit"] {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #101742;
	cursor: pointer;
	outline: none;
	border: 1px solid #101742;
	background-color: #e9eff5;
	padding: 4px 24px;
	border-radius: 16px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.bk-form-feedback-1 > .content input[type="submit"]:hover,
.bk-form-feedback-1 > .content input[type="submit"]:active {
	background-color: #101742;
	color:#e9eff5;
}

.bk-form-feedback-1 > .content textarea {
	width: 100%;
	outline: none;
	color:#fff;
	background-color: #101742;
	border: 1px solid #101742;
	border-radius: 14px;
	font-size: 16px;
	padding: 2px 12px;
	resize: none;
	vertical-align: middle;
	height: 130px;	
}
.bk-form-feedback-1 .btn-file {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bk-form-feedback-1 .btn-file-text {
	font-size: 16px;
	line-height: 28px;
	color:#697d9c;
	text-decoration: underline;
	white-space: nowrap;
}
.bk-form-feedback-1 .btn-file-text:before {
	display: inline-block;
	vertical-align: middle;
	background: url(../img/ico-upload.png) no-repeat scroll top transparent;
	width: 16px;
	height: 14px;
	content: " ";
	margin-right: 15px;
}
.bk-form-feedback-1 .btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    direction: ltr;
    transform: translate(-300px, 0px) scale(4);
    filter: alpha(opacity=0);
}